/* * {
  border: 1px solid red;
} */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: mistyrose;
}

main {
  display: grid;
  grid-template-columns: 0.6fr 2fr 0.6fr;
  height: 100vh;
}


#map {
  height: 100%;
}

